body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.cursor{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    color: #fff;
}


.cursor-text{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}
.cursor-text .char {
    position: absolute !important;
}

a {
    text-decoration: none;
    color: crimson;
}

a:hover {
    text-decoration: underline;
}

H1 {
    font-family: 'Sansita', sans-serif;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

H2 {
    padding: 0;
    margin: 0;
}

H3 {
    padding: 0;
    margin: 0;
}

H4 {
    padding: 0;
    margin: 0;
}

.date {
    text-decoration: none;
    font-weight: 600;
    font-size: .8em;

}

.company {
    
}

.position {
    
}

#top-wrapper {
    margin:auto;
}

#page-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    max-width: 50rem;
    margin: auto;
}

#hero {
    
}

#menu-wrapper {
    
}

.item {
    border: 1px solid crimson;
    border-radius: 3px;
    padding: 10px;
}

.intro {
    grid-column: 1/6;
}

.info {
    grid-column: 1/1;
}

.entry-large {
    grid-column: 2/6;
}

.entry-medium-left {
    grid-column: 2/4;
}

.entry-medium-right {
    grid-column: 4/6;
}

.entry-small {
    
}




